<section class="bg-success text-light p-3 "><i class="bi bi-people-fill me-1"></i>Create Patient</section>
<div class="bg  m-4">
    <div class="container">
      <div class="row">
       
      </div>
    </div>

    <div *ngIf="alert" class="alert alert-success alert-dismissible fade show" role="alert">
        <strong>Patient Created Successfully!</strong> You can view in Patients List.
        <button (click)="closeAlert()" type="button" class="close" data-dismiss="alert" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>



    <div class="container">
      <div class="row">
        <div class="col-md-4">
          <form >
         
            <fieldset>
               

                <div class="form-group">
                    <label for="Name"><span class="req"> </span><strong> Name</strong>: </label>
                    <input required type="text" name="patientName" id="patientName" class="form-control phone" maxlength="28" placeholder="Patient name here..."
                    pattern="[a-zA-Z][a-zA-Z ]+" [(ngModel)]="patient.patientName"  
                    #patientName="ngModel"/>
                    <div [hidden]="patientName.valid || patientName.pristine"
                        class="alert alert-danger">
                        <div [hidden]="!patientName.hasError('required')">Name is required</div>
                        <div [hidden]="!patientName.hasError('pattern')">Only alphabets allowed</div>
                    </div>
                </div>
                <div class="form-group">
                    <label for="dateOfVisit"><span class="req"> </span><strong> Date of Visit </strong>:</label>
                    <input required type="text" [(ngModel)]="patient.dateOfVisit"  name="dateOfVisit" id="dateOfVisit"
                        class="form-control phone" maxlength="28" placeholder="Enter Date" />
                </div>
                <div class="form-group">
                    <label for="visitedDoctor"><span class="req"> </span><strong>Select Vistited Doctor </strong>:</label>

                    <select class="hideLabel form-control" [(ngModel)]="patient.visitedDoctor" name="Id" (change)="selectName(patient.doctId);">  
                      <option selected="" value=""></option>  
                   <option [ngValue]="k.docName" *ngFor="let k of doctors">  
                       {{k.docName}}  
                </option>  
           </select> 
                    <!-- <input required type="text" [(ngModel)]="patient.visitedDoctor"  name="visitedDoctor" id="visitedDoctor"
                        class="form-control phone" maxlength="28" placeholder="Select Doctors Name.." /> -->
                </div>
                <div class="form-group">
                    <label for="precription"><span class="req"> </span><strong> Prescription </strong>:</label>
                    <input required type="text" [(ngModel)]="patient.precription"  name="precription" id="precription"
                        class="form-control phone" maxlength="28" placeholder="Prescribed Medicine..." />
                </div>

                <div class="form-group">
                    <label for="doctId"><span class="req"></span> <strong>Doctors Id:</strong>  </label>
                    <input class="form-control" type="number"[(ngModel)]="patient.doctId"   name="doctId" id="doctId" required
                        placeholder="Enter Doctors ID" />
                    
                </div>

                <div class="form-group mt-2">
                    <input class="btn btn-success main-btn reg-btn" type="submit" name="submit_reg" value="Create" (click)="registerPatNow()" [disabled]="!patientName.valid" >
                </div>
            </fieldset>
        </form>
        </div>
      </div>
    
  </div>
  <!-- <pre>{{patient|json}}</pre> -->