<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03"
          aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" routerLink="/">HEALTHCARE <img src="https://www.logolynx.com/images/logolynx/85/856586486a2bba6f02e064757e495c9d.png" width="25px" height="25px" > HOSPITAL</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
          <ul class="navbar-nav me-auto mb-2 mb-lg-0">
              
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="doctors/doctor/add">Add Doctor</a>
              </li>
              <li class="nav-item">
                  <a class="nav-link" routerLinkActive="active" routerLink="patients/patient/add">Add Patient</a>
              </li>
              <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" aria-current="page" routerLink="doctor/view">Doctors List</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="patient/view">Patients List</a>
            </li>
          </ul>
         
      </div>
  </div>
</nav>





















